html, body {min-height: 100%}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    text-align: center;
    text-shadow: 0 0 5px white;
    padding: 50px;
}

p {
    margin: 0;
    margin-bottom: 2px;
}

.bar {
    background-color: #33ca00;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.bar div {
    flex-grow: 1;
    margin: 10px;
}

.bar a {
    width: 100px;
    display: block;
    background-color: #1e7900;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 46px;
    /* padding-left i right mozes da turis u jedno - padding. 0 je za gore i dole a 10px za levo i desno */
    padding: 0 10px;
    transition: 200ms ease;
}

.bar a,
.bar a:hover,
.bar a:active,
.bar a:visited {
    text-decoration: none;
    color: white;
}

/* Animacija da se pojavi box-shadow kada hoverujes. Meni lepse izgleda tako :D */

.bar a:hover {
    box-shadow: 0 0 10px black inset;
    transition: 200ms ease;
}

#contact {
    position: absolute;
    z-index: 2;
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contacthd {
    z-index: 1;
    padding: 10px;
    background-color: #444;
    cursor: pointer;
    text-align: center;
    border-radius: 10px 10px 0 0;
    /* Stavio si margine -20px -20px **20** -20px i zato nije htelo da mi rade margine. Zbog kompatibilnosti kod browsera, samo kod 0 koristi bez icega jer browseri ne znaju dal je margina 20px/em/rem/vw/vh... */
    margin: -20px -20px 20px -20px;
    text-shadow: 0 0 2px white;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}